ADMIN_ADDRESS=<ADMIN_ADDRESS>
SETTLER_ADDRESS=<SETTLER_ADDRESS>
ENZYME_DEPLOYER=<ENZYME_DEPLOYER>
ENZYME_INT_MANAGER=<ENZYME_INT_MANAGER>
ENZYME_ASSET_ADAPTER=<ENZYME_ASSET_ADAPTER>
ENZYME_POLICY_MANAGER=<ENZYME_POLICY_MANAGER>
ENZYME_INVESTOR_WHITELIST=<ENZYME_INVESTOR_WHITELIST>
DENOM_ASSET_ADDRESS=<DENOM_ASSET_ADDRESS>
DENOM_ASSET_SYMBOL=<DENOM_ASSET_SYMBOL>
VAULT_NAME=<VAULT_NAME>
TOKEN_NAME=<TOKEN_NAME>
TOKEN_SYMBOL=<TOKEN_SYMBOL>
